{% extends 'usuarios/base.html' %}

{% block title %} Agregar usuario {% endblock %}

{% block css %}
<style>
    .container .input-field label{
        position: relative;
        color: black;
    }
</style>
{% endblock %}

{% block javascript %}
<script type="text/javascript">
    $(document).ready(function(){
        $('select').formSelect();
  });
</script>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <form method="POST" class=" col s12 center">
            {% csrf_token %}
            <div class="row">
                <div class="input-field col s6">
                    <label>Nombre completo</label>
                    <input type="text" name="nombre" required>
                </div>
                <div class="input-field col s6">
                    <label>Apellido</label>
                    <input type="text" name="apellido" required>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <label>Nombre de usuario</label>
                    <input type="text" name="username" required>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <label>Correo electronico</label>
                    <input type="email" name="email" required>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6">
                    <label>Contraseña</label>
                    <input type="password" name="pass1" required>
                </div>
                <div class="input-field col s6">
                    <label>Confirma  contraseña</label>
                    <input type="password" name="pass2">
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <label>Tipo de usuario</label>
                    <select name="tipo_usuario">
                        <option value="" selected disabled>Selecciona un tipo de usuario</option>
                        <option value="admin">Administrador</option>
                        <option value="cliente">Cliente</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <label>Estado</label>
                    <select name="estado">
                        <option value="" selected disabled>Selecciona un estado</option>
                        <option value="DISPONIBLE">Disponible</option>
                        <option value="NO DISPONIBLE">No disponible</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <label>Credito</label>
                    <input type="number" name="credito">
                </div>
            </div>
            <input class="btn wave-effect" type="submit" name="boton" id="idBoton" value="Agregar">
        </form>
    </div>
</div>
{% endblock %}