{% load static %}
{% load pwa %}
{% progressive_web_app_meta %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/materialize.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/estilo-base.css' %}">
    <link rel="manifest" href="manifest.json">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script type="text/javascript" src="{% static 'js/jquery-3.5.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/base-script.js' %}"></script>
    {% block css %}{% endblock %}
    {% block javascript %}{% endblock %}
    <title>{% block title %} {% endblock %}</title>
</head>
<body>
    <nav class="nav-wraper" style="background-color: darkorange; height: 130px;">
        <div style="width: 100%; height: 130px;" class="container">
            <div class="input-field black">
                <input placeholder="Encuentra lo que buscas" id="search" type="search" required>
                <label class="label-icon" for="search"><i class="material-icons">search</i></label>
                <i style="position: absolute; bottom: 10px;" class="material-icons">close</i>
            </div>
            <a href="#" class="brand-logo right"><img style="width: 100%;" src="{% static 'imagenes/logo.png' %}"></a>
            <a style="position: relative; color: black; left: 50px; top: 35px;" href="#" class="sidenav-trigger" data-target="mobile-links">
                <i class="material-icons">menu</i>
            </a>
            <ul class="center">
                {% if request.user.is_authenticated %}
                <li><a href="panel" class="waves-effect waves-light btn center">Panel<i style="color: black;" class="material-icons right">account_box</i></a></li>
                <li><a href="logout" class="formulario waves-effect waves-light btn center">Logout<i style="color: black;" class="material-icons right">exit_to_app</i></a></li>
                {% else %} 
                <li><a href="login" class="waves-effect waves-light btn center">Login<i style="color: black;" class="material-icons right">vpn_key</i></a></li>
                <li><a href="registro" class="formulario waves-effect waves-light btn center">Registro<i style="color: black;" class="material-icons right">create</i></a></li>
                {% endif %}
            </ul>
            <ul class="hide-on-med-and-down">
                <li><a href="inicio" class="pagina-actual black-text">Inicio</a></li>
                <li><a href="#" class="black-text">Sony</a></li>
                <li><a href="catalogo-xone" class="catalogo black-text">Microsoft</a></li>
                <li><a href="#" class="black-text">Nintendo</a></li>
                <li><a href="#" class="black-text">Otros</a></li>
            </ul>
        </div>
    </nav>
    <ul class="sidenav" id="mobile-links">
        <li><a href="inicio">Inicio</a></li>
        <li><a href="#">Sony</a></li>
        <li><a class="catalogo" target="contenido" href="catalogo-xone">Microsoft</a></li>
        <li><a href="#">Nintendo</a></li>
        <li><a href="#">Otros</a></li>
    </ul>
    {% if messages %}
    {% for message in messages %}
    <div id="mensaje" style="background-color: green; width: 100%;">
        <h2 style="margin: 0; color: white;" class="center">
            {{message}}
        </h2>
    </div>
    {% endfor %}
    {% endif %}

    {% block content %}
    {% endblock %}
    <footer class="page-footer">
        <div class="container">
            <div class="row">
                <div class="col s4">
                    <h1>
                        METODOS DE PAGO
                    </h1>
                    <h3>Tarjeta</h3>
                    <h3>Transferencia bancaria</h3>
                </div>
                <div class="col s4">
                    <h1>
                        CONTACTO
                    </h1>
                    <h3>Email: contacto@caracolrojo.cl</h3>
                    <h3>Whatsapp: +56993932383</h3>
                    <h2>SOLO MENSAJES</h2>
                </div>
                <div class="col s4">
                    <h1>AYUDA</h1>
                    <h3><a href="#">Terminos y condiciones</a></h3>
                    <h3><a href="#">Preguntas frecuentes</a></h3>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                © 2020 <strong>Caracol Rojo</strong> Copyright All Rights Reserved
            </div>
        </div>
    </footer>
    <script type="text/javascript" src="{% static 'js/materialize.min.js' %}"></script>
</body>
</html>
