{% extends 'usuarios/base.html' %}

{% load socialaccount %}
{% providers_media_js %}

{% block title %} Login {% endblock %}

{% block css %}
<style>
    #img-login{ 
        position: absolute;
        width: 100%;
        height: 100vh;
    }
    #contenedor-login label{
        position: absolute;
        color: whitesmoke;
        font-size: large;
        font-family:sans-serif;
    }
    #contenedor-login .input-field input{
        border-bottom: 1px solid orange;
        margin-top: 30px;
    }
    #contenedor-login .btn{
        background: purple;
        display: block;
        margin: auto;
    }
    #contenedor-login{
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
    }
    #contenedor-login form{
        margin-top: 60px;
        border-radius: 2%;
        background: rgb(0,0,0,0.5);
        position: relative;
        display: flex;
        flex-direction: column;
        width: 500px;
        height: 480px;
    }
    #contenedor-login form p{
        margin: 0;
        color: white;
    }
</style>
{% endblock %}

{% block content %}
<img id="img-login" src="/static/imagenes/img-login.jpg">
<div id="contenedor-login" class="container">
    <div class="row">
        <form method="POST" class="col s6">
            {% csrf_token %}
            <div class="row">
                <div style="margin-top: 30px;" class="input-field col s12">
                    <label for="usuario">Nombre de usuario: </label>
                    <input type="text" name="usuario" id="idUsuario">
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <label for="contraseña">Contraseña: </label>
                    <input type="password" name="contraseña" id="idContraseña">
                </div>
            </div>
            <input style="width: 200px; margin-top: 50px;" class="btn wave-effect" type="submit" name="boton" id="idBoton" value="Ingresar">
            <a class="center" href="{% provider_login_url 'google' %}">Inicia sesion con Google</a>
            <a class="center" href="{% provider_login_url 'facebook' method='oauth2' %}">Inicia sesion con Facebook</a>
            <p class="center">Todavia no tienes cuenta? Registrate <a href="registro">Aquì</a></p>
            <p class="center">Olvidaste tu contraseña? Recuperala <a href="recuperar_contraseña">Aquì</a></p>
        </form>
    </div>
</div>
{% endblock %}