{% extends 'usuarios/base.html' %}

{% block title %} Mensaje enviado {% endblock %}

{% block content %}
<div  class="container">
    <h4>Se envió el restablecimiento de contraseña</h3>
    <h5>Le enviamos instrucciones por correo electrónico para configurar su contraseña, si existe una cuenta con el correo electrónico que ingresó. Deberías recibirlos en breve.</h4>
    <h6>Si no recibe un correo electrónico, asegúrese de haber ingresado la dirección con la que se registró y verifique su carpeta de correo no deseado.</h5>
</div>
{% endblock %}